@media (max-width: 910px) {
  .middle {
    left: 10% !important;
  }

  .left-bar {
    display: none !important;
  }
}
@media (max-width: 425px) {
  .middle {
    left: 15px !important;
  }
  .middle h1 {
    font-size: 30px !important;
    width: 400px !important;
  }
}