@media (max-width: 910px) {
    .middle {
        left: 10% !important;
    }
    
    .left-bar {
        display: none !important;
    }

    #about {
        grid-template-columns: 400px;
    }

    .specialty {
        grid-template-columns: 260px !important;
    }

    .study {
        grid-template-columns: 425px !important;
        width: 425px !important;
    }

    #portfolio {
        .cards {
            grid-template: repeat(6, 280px) / 280px !important;
            grid-template-areas: 
            "uber"
            "pulse"
            "ipad"
            "mac"
            "bread"
            "plans" !important;
            width: 280px !important;
        }
    }

    #technology {
        .cards {
            width: 270px !important;
        }
    }

    #price {
        .cards {
            grid-template: repeat(3, 55px)/ 358px !important;
            width: 358px;
        }
    }

    #contact {
        grid-template-columns: 400px !important;
        width: 400px;

        .input-line {
            flex-direction: column;
        }

        .inputMessage {
            width: 400px !important;

            .right {
                width: 230px !important;
            }

            input {
                width: 370px !important;
            }
        }
    }
}

@media (max-width: 700px) {
    .middle {
        left: 15px !important;
        h1 {
            font-size: 30px !important;
            width: 400px !important;
        }
    }
}