@media (max-width: 910px) {
    .middle {
        left: 10% !important;
    }
    
    .left-bar {
        display: none !important;
    }
}

@media (max-width: 555px) {
    .middle {
        left: 15px !important;
        h1 {
            font-size: 30px !important;
            width: 400px !important;
        }
    }
}